@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css&display=swap");
@font-face {
  font-family: "robotoblack";
  src: url("roboto-black-webfont.woff2") format("woff2"), url("roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("roboto-medium-webfont.woff2") format("woff2"), url("roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("roboto-bold-webfont.woff2") format("woff2"), url("roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.fondo__cortado {
  background-image: url("../assets/images/fondo_index.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.fondo__tecnologia {
  background-image: url("../assets/images/fondo_nosotros.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo__proyectos {
  background-image: url("../assets/images/fondo_nosotros.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo__equipo {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../assets/images/fondo_equipo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fondo__contacto {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/images/fondo_contacto.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.proyecto {
  position: relative;
  overflow: hidden;
}
.proyecto .superposicion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}
.proyecto img {
  transition: all 0.4s ease;
}
.proyecto:hover .superposicion {
  opacity: 1;
}
.proyecto:hover img {
  transform: scale(1.1);
}

/*wfewcto de roatcion de los iconos de tecnologia + icono navbar-brand*/
img .rotar:hover {
  animation: rotation 2s infinite linear;
}

.fondo_tecno {
  background-color: #D9E2DE;
}

.item_detalle {
  margin-bottom: 1rem;
  line-height: 2.7em;
  font-size: 1.1em;
  font-weight: 500;
  text-align: justify;
}

.texto__neon {
  background: #252839;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.texto__neon h2 {
  position: relative;
  color: #252839;
  letter-spacing: 0.1em;
  font-size: 3vw;
  font-weight: 800;
  -webkit-text-stroke: 0.2vw #383d52;
  white-space: nowrap;
}
.texto__neon h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: neon 10s linear infinite;
}

@keyframes neon {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
/*mapa de medidas de pantallas para los media query*/
/*****************************************************/
/*Definicion de los mixin's que usaremos para ajustar los elementos a una resolucion de pantalla MINIMA*/
/********************************************************************************************/
/*Definicion de los mixin's que usaremos para ajustar los elementos a una resolucion de pantalla MAXIMA*/
/********************************************************************************************/
/*Definicion de mixin para el efecto de los bordes de colores y animados de integrantes de equipo*/
/***************************************************************************************************/
.tarjeta__equipo {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 25px;
  transition: all 0.35s ease;
}
.tarjeta__equipo:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.miembro_equipo img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}
.miembro_equipo img:hover {
  transition: ease-in-out 1s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotateY(180deg);
  filter: sepia(60%);
  transform: scale(1.8);
}
.miembro_equipo p {
  text-align: center;
}

.div_animado_verde {
  width: 100%;
  height: 4px;
  background: green;
  transition: width 3s;
  animation: estado_disponibilidad 3s;
}
@keyframes estado_disponibilidad {
  0% {
    width: 0%;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
    color: black;
  }
}

.div_animado_amarillo {
  width: 100%;
  height: 4px;
  background: #ffc107;
  transition: width 3s;
  animation: estado_disponibilidad 3s;
}
@keyframes estado_disponibilidad {
  0% {
    width: 0%;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
    color: black;
  }
}

.div_animado_rojo {
  width: 100%;
  height: 4px;
  background: #dc3545;
  transition: width 3s;
  animation: estado_disponibilidad 3s;
}
@keyframes estado_disponibilidad {
  0% {
    width: 0%;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
    color: black;
  }
}

/*************************************************/
/*efecto glow boton unirte al equipo - pagina equipos*/
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*mapa de medidas de pantallas para los media query*/
/*****************************************************/
/*Definicion de los mixin's que usaremos para ajustar los elementos a una resolucion de pantalla MINIMA*/
/********************************************************************************************/
/*Definicion de los mixin's que usaremos para ajustar los elementos a una resolucion de pantalla MAXIMA*/
/********************************************************************************************/
/*Definicion de mixin para el efecto de los bordes de colores y animados de integrantes de equipo*/
/***************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 16px;
}

.navbar-brand {
  font-size: 1rem;
}
.navbar-brand .icono_empresa:hover {
  animation: rotation 2s infinite linear;
}
.navbar-brand .icono_empresa {
  width: 12%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.titulo_pagina {
  font-weight: bolder;
  font-family: "robotobold";
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  .titulo_pagina {
    font-size: 1.3em !important;
  }
}
@media screen and (max-width: 540px) {
  .titulo_pagina {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 768px) {
  .titulo_pagina {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .titulo_pagina {
    font-size: 3em;
  }
}
@media screen and (min-width: 1200px) {
  .titulo_pagina {
    font-size: 3.5em;
  }
}

.subtitulo_pagina {
  color: white;
  font-weight: bolder;
}
@media screen and (max-width: 540px) {
  .subtitulo_pagina {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 768px) {
  .subtitulo_pagina {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 992px) {
  .subtitulo_pagina {
    font-size: 2em;
  }
}
@media screen and (min-width: 1200px) {
  .subtitulo_pagina {
    font-size: 2.3em;
  }
}

.texto__presentacion {
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .texto__presentacion {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 992px) {
  .texto__presentacion {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .titulo_contenido_ppal h2, .titulo_contenido_ppal--justificado h2 {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 992px) {
  .titulo_contenido_ppal h2, .titulo_contenido_ppal--justificado h2 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 540px) {
  .titulo_contenido_ppal p, .titulo_contenido_ppal--justificado p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  .titulo_contenido_ppal p, .titulo_contenido_ppal--justificado p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) {
  .titulo_contenido_ppal p, .titulo_contenido_ppal--justificado p {
    font-size: 1.8em;
  }
}

.titulo_contenido_ppal--justificado p {
  text-align: justify;
}

/*pagina NOSOTROS - EX TECNOLOGIA*/
.item_ppal {
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
  font-weight: 900;
}
@media screen and (max-width: 540px) {
  .item_ppal {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .item_ppal {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  .item_ppal {
    font-size: 2.4em;
  }
}
@media screen and (min-width: 1200px) {
  .item_ppal {
    font-size: 2.5em;
  }
}

.cuerpo__tarjeta--index {
  text-align: justify;
}

.bordes__glow {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #103af5a4, 0 0 0.8rem #103af5a4, 0 0 2.8rem #103af5a4, inset 0 0 1.3rem #103af5a4;
}

.icon {
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.4s;
}

.icon:nth-child(1):hover {
  box-shadow: 0px 0px 10px #9ac4f8;
}

.icon:nth-child(2):hover {
  box-shadow: 0px 0px 10px #04f06a;
}

.icon:nth-child(3):hover {
  box-shadow: 0px 0px 10px #096ce6;
}

.icon:nth-child(4):hover {
  box-shadow: 0px 0px 10px #f5f10c;
}

.glow_icon_what {
  color: #04f06a;
  filter: drop-shadow(0px 0px 10px #04f06a);
}

.glow_icon_twit {
  color: #9ac4f8;
  filter: drop-shadow(0px 0px 10px #9ac4f8);
}

.glow_icon_link {
  color: #096ce6;
  filter: drop-shadow(0px 0px 10px #096ce6);
}

.glow_icon_git {
  color: #f5f10c;
  filter: drop-shadow(0px 0px 10px #f5f10c);
}

/*# sourceMappingURL=estilo3.css.map */
