@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
/*font-family: 'Bakbak One', cursive;*/
.fondo__cortado {
  background-image: url("../assets/images/pexels-chivozol-167259.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.fondo__tecnologia {
  background-image: url("../assets/images/pexels-brett-sayles-3803517.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo__proyectos {
  background-image: url("../assets/images/pexels-brett-sayles-3803517.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo__equipo {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../assets/images/pexels-fauxels-3182773.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fondo__contacto {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/images/pexels-mikael-blomkvist-6476576.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*fondos para efecto parallax en pagina tecnologia*/
.fondo__parallax1 {
  background-image: url("../assets/images/pro10.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo__parallax2 {
  background-image: url("../assets/images/pro3.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo__parallax3 {
  background-image: url("../assets/images/pro5.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo__parallax {
  padding-top: 15%;
}

.parrafo__parallax-tecnologia {
  line-height: 2.5rem;
  font-size: 1.2rem;
}

.tarjeta__equipo {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 25px;
  transition: all 0.35s ease;
}
.tarjeta__equipo .tarjeta__equipo:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.miembro_equipo img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}
.miembro_equipo img .miembro_equipo img:hover {
  transition: ease-in-out 1s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotateY(180deg);
  filter: sepia(60%);
  transform: scale(1.8);
}

/*efecto glow boton unirte al equipo - pagina equipos*/
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.proyecto {
  position: relative;
  overflow: hidden;
}
.proyecto .superposicion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 20, 51, 0.8);
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 0;
}
.proyecto img {
  transition: all 0.4s ease;
}
.proyecto .proyecto:hover .superposicion {
  opacity: 1;
}
.proyecto .proyecto:hover img {
  transform: scale(1.1);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*final efecto glow boton*/
/*wfewcto de roatcion de los iconos de tecnologia + icono navbar-brand*/
img .rotar:hover {
  animation: rotation 2s infinite linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.navbar-brand {
  font-size: 1rem;
}
.navbar-brand img .icono_empresa:hover {
  animation: rotation 2s infinite linear;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.titulo_pagina {
  font-family: "Bakbak One, cursive";
  font-size: 4.5em;
}

.titulo__parallax {
  text-transform: uppercase;
}

/*extra-small*/
@media screen and (max-width: 575px) {
  .titulo_pagina {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    color: white;
    font-family: "Arial Black";
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
  }

  .subtitulo_pagina {
    font-size: 1em;
    text-align: center;
  }

  .texto__presentacion p {
    font-size: 0.9em;
    text-align: justify;
  }

  .titulo_contenido_ppal h2 {
    font-size: 1em;
    font-weight: bold;
  }
  .titulo_contenido_ppal p {
    font-size: 0.9em;
    text-align: justify;
  }

  .tarjeta_index h5 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }
  .tarjeta_index p {
    font-size: 0.9em;
    text-align: justify;
    font-weight: lighter;
  }
  .tarjeta_index a {
    font-size: 0.8em;
  }

  .titulo__parallax {
    padding-top: 5%;
    margin: 0;
  }
  .titulo__parallax h1 {
    font-size: 1.2em;
    color: #ffff !important;
  }

  .parrafo__parallax-tecnologia {
    font-size: 0.9em;
    text-align: justify;
    color: white;
    font-weight: bolder;
    margin: 0;
    opacity: 80%;
  }

  .iconos_tecnologia {
    justify-content: space-around;
  }
  .iconos_tecnologia img {
    width: 2.5em;
  }
}
/*small*/
@media screen and (min-width: 576px) {
  .titulo_pagina {
    font-size: 2.5em;
  }
}
/*medium*/
@media screen and (min-width: 768px) {
  .titulo_pagina {
    font-size: 2.5em;
  }

  .texto__presentacion p {
    text-align: justify;
  }
}
/*large*/
@media screen and (min-width: 992px) {
  .titulo_pagina {
    font-size: 2.5em;
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  .titulo_pagina {
    font-size: 5em;
  }
}
/*extra extra large*/
@media screen and (min-width: 1400px) {
  .titulo_pagina {
    font-size: 5em;
  }

  .subtitulo_pagina {
    font-size: 2.5em;
  }

  .texto__presentacion {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=estilo2.css.map */
