.fondo__cortado {
    background-image: url("../assets/images/fondo_index.webp");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  .fondo__tecnologia {
    background-image: url("../assets/images/fondo_nosotros.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fondo__proyectos {
    background-image: url("../assets/images/fondo_nosotros.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fondo__equipo {
    background: linear-gradient(rgba(255, 255, 255, -2), rgba(255, 255, 255, -2)),
      url("../assets/images/fondo_equipo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .fondo__contacto {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("../assets/images/fondo_contacto.webp");
  
    background-repeat: no-repeat;
    background-size: cover;
  }

  