@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
/*font-family: 'Bakbak One', cursive;*/

$ft-titulo: "Bakbak One, cursive";
$fs-titulo-xl: 3.1em;
$fs-titulo-lg: 2.8em;
$fs-titulo-md: 2.5em;
$fs-titulo-sm: 2.2em;
$fs-titulo-xs: 1.5em;

$fs-subtitulo-xs: 1em;
$fs-subtitulo-md: 1.4em;
$fs-subtitulo-xl: 2em;

$fs-presentacion-xl: 1.7em;
$fs-presentacion-lg: 1.5em;
$fs-presentacion-md: 1.1em;
$fs-presentacion-sm: .9em;
$fs-presentacion-xs: .9em;

$fs-botones-xs: .8em;

$fs-Tparallax-xs: 1.2em;