@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
/*font-family: 'Bakbak One', cursive;*/

$font-titulo: "Bakbak One, cursive";
$font-titulo-size-xl: 5em;
$font-titulo-size-lg: 4.5em;
$font-titulo-size-md: 3em;
$font-titulo-size-sm: 2.5em;
$font-titulo-size-xs: 1.5em;

$font-subtitulo-size-xl: 2.5em;

$font-presentacion-size-xl: 1.2em;