@import "fuentes.scss";
@import "fondos.scss";
@import "equipo.scss";
@import "proyectos.scss";
@import "tecnologia.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}

.navbar-brand {
  font-size: 1rem;
  img .icono_empresa:hover {
    animation: rotation 2s infinite linear;
  }
  .icono_empresa{
    width: 12%;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.titulo_pagina {
  font-family: $ft-titulo;
  font-size: $fs-titulo-lg;
}

.cuerpo__tarjeta--index{
  text-align: justify;
}

.titulo__parallax{
  text-transform: uppercase;
}

/*extra-small*/
@media screen and (max-width: 575px) {
  .titulo_pagina {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    color: white;
    font-family: "Arial Black";
    text-transform: uppercase;
    font-size: $fs-titulo-xs;
    text-align: center;
  }
  .subtitulo_pagina {
    font-size: $fs-subtitulo-xs;
    text-align: center;
    font-weight: bolder;
    
  }
  .texto__presentacion p {
    font-size: $fs-presentacion-xs;
    text-align: justify;
  }
  .titulo_contenido_ppal {
    h2 {
      font-size: $fs-subtitulo-xs;
      font-weight: bold;
    }
    p {
      font-size: $fs-presentacion-xs;
      text-align: center;
    }
  }
  .tarjeta_index {
    h5 {
      font-size: $fs-subtitulo-xs;
      text-align: center;
      font-weight: bold;
    }
    p {
      font-size: $fs-presentacion-xs;
      text-align: justify;
      font-weight: lighter;
    }
    a {
      font-size: $fs-botones-xs;
    }
  }  
  .titulo__parallax {
    padding-top: 5%;
    margin: 0;
    h1 {
      font-size: $fs-Tparallax-xs;
      color: #ffff !important;
    }
  }
  .parrafo__parallax-tecnologia {
    font-size: $fs-presentacion-xs;
    text-align: justify;
    color: white;
    font-weight: bolder;
    margin: 0;
    opacity: 80%;
  }
  .iconos_tecnologia {
    justify-content: space-around;
    img {
      width: 2.5em;
    }
  }
}
/*small*/
@media screen and (min-width: 576px) {
  .titulo_pagina {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
    color: white;
    font-family: "Arial Black";
    text-transform: uppercase;
    font-size: $fs-titulo-sm;
  }
  .texto__presentacion{
    font-size: $fs-presentacion-md;
    text-align: justify !important;
  }
}
/*medium*/
@media screen and (min-width: 768px) {
  .titulo_pagina {
    font-size: $fs-titulo-md;
  }
  .subtitulo_pagina{
    font-weight: bold;
  }
  .texto__presentacion p {    
    text-align: justify;
  }
}
/*large*/
@media screen and (min-width: 992px) {
  .titulo_pagina {
    font-size: $fs-titulo-lg;    
  }
  .subtitulo_pagina{
    background: #000;
    font-weight: bold;
    text-align: center !important;
  }
  h5 {
    font-size: $fs-subtitulo-xs;
    text-align: center;
    font-weight: bold;
  }
  p {
    font-size: $fs-presentacion-xs;
    text-align: justify !important ;
    font-weight: lighter;
  }
// .navbar-nav{
//   a{    
//     background-color: black;
//     box-shadow: 10px 5px 5px black;

//   }
// }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  .titulo_pagina {
    font-size: $fs-titulo-xl;
    text-align: center;
  }
  .subtitulo_pagina{
    text-align: center;
  }
  .tarjeta_index {
    h5 {
      font-size: $fs-subtitulo-md;
      text-align: center;
      font-weight: bold;
    }
    p {
      font-size: $fs-presentacion-md;
      text-align: justify;
      font-weight: lighter;
    }
    a {
      font-size: $fs-botones-xs;
    }
  }  
}
/*extra extra large*/
@media screen and (min-width: 1400px) {
  .titulo_pagina {
    font-size: $fs-titulo-xl;
  }
  .subtitulo_pagina {
    font-size: $fs-subtitulo-xl;
  }
  .texto__presentacion {
    font-size: $fs-presentacion-xl;    
  }
  .tarjeta_index {
    h5 {
      font-size: $fs-subtitulo-md;
      text-align: center;
      font-weight: bold;
    }
    p {
      font-size: $fs-presentacion-md;
      text-align: justify;
      font-weight: lighter;
    }
    a {
      font-size: $fs-botones-xs;
    }
  }  
}
